@import url('https://fonts.googleapis.com/css?family=Yellowtail|Karla:400,400i,700');

$primary-color: #F2C9BC;
$secondary-color: #252F3D;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla',
        sans-serif;
    color: #333;
}

.nav-wrapper {
    margin: 0 3rem;

    a {
        color: #333;
    }
}

.sidenav {
    .divider {
        margin: 0;
    }
}

.brand-logo img {
    width: 13rem;
    vertical-align: middle;
}

.slider h2 {
    text-shadow: 2px 2px 5px black;
}